<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buffetiser Unchained</title>
    </head>
    <body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/style.css' %}">


        <div class="left">
            <button><a href="/admin"></a>Admin</button>
            <button><a href="/help"></a>Help</button>
            <button><a href="/config"></a>Config</button>
            <button><a href="/config">Live</button>
            <button><a href="/purchase"></a>New Purchase</button>
            <button><a href="/config">New Sale</button>
            <button><a href="/config">Quit</button>
        </div>

        <div id="right">

            <div id="top">
                {% if investment_list %}
                    <ul>
                        {% for investment in investment_list %}
                            <li><a href="/{{ investment.symbol }}/">{{ investment.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No investments are available.</p>
                {% endif %}
            </div>

            <div id="bottom">
                bottom
            </div>


        </div>











    </body>
</html>