<!DOCTYPE html>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/bootstrap-5.0.2/css/bootstrap.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'buffetiser_main/img/icon.png' %}"/>
    <script src="{% static 'buffetiser_main/bootstrap-5.0.2/js/bootstrap.js' %}"></script>
    <script src="{% static 'buffetiser_main/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'buffetiser_main/scripts.js' %}"></script>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buffetiser Unchained</title>
    </head>
    <body>
        <div class="left">
            <a href="/admin"><button>Admin</button></a>
            <a href="/help"><button>Help</button></a>
            <a href="/config"><button>Config</button></a>
            <a href="/config"><button>Live</button></a>
            <a href="/purchase"><button>New Purchase</button></a>
            <a href="/config"><button>New</br>Sale</button></a>
            <a href="/config"><button>Quit</button></a>
        </div>
        <div id="right">
            <div id="top">
                {% if investment_list %}
                        {% for investment in investment_list %}
                            <a class="btn btn-primary panel-title"
                                data-bs-toggle="collapse"
                                href="#{{ investment.symbol }}"
                                role="button"
                                aria-expanded="false"
                                aria-controls="collapseExample">
                                <label class="-{{ investment.symbol }}">
                                    {{ investment.symbol }} ({{ investment.name }})
                                </label>
                            </a>
                            <div class="collapse" id={{ investment.symbol }}>
                                <div class="card card-body" id="panel-container">
                                    <div class="panel-body">
                                        {% load static %}
                                        <div >
                                            <div id="inner-left">
                                                {% load static %}
                                                <img id="graph" src="{% static 'buffetiser_main/img/graph.png' %}">
                                            </div>
                                            <div id="inner-right">
                                                <table id="inner-right-table">
                                                    <tr><td>Average Cost</td><td>${{ investment.average_cost|stringformat:'.2f' }}</td></tr>
                                                    <tr><td>Units Held</td><td>{{ investment.units_held|stringformat:'d' }}</td></tr>
                                                    <tr><td>Total Cost</td><td>${{ investment.total_cost|stringformat:'.2f' }}</td></tr>
                                                    <tr><td>Live Price</td><td>${{ investment.live_price }}</td></tr>
                                                    <tr><td>Value</td><td>${{ investment.total_value|stringformat:'.2f' }}</td></tr>
                                                    <tr><td>Profit</td><td class="-{{ investment.symbol }}">{{ investment.profit|stringformat:'.2f' }}</td></tr>
                                                    <tr><td></td><td><label class="-{{ investment.symbol }}">{{ investment.percent_profit|stringformat:'.2f' }}%</label></td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Script sets text color based on investment profit (positive/negative) -->
                            <script>
                                profit = Number(`{{ investment.profit }}`);
                                if (profit === 0) { $(".-{{ investment.symbol }}").css("color", "white"); }
                                else if (profit < 0) { $(".-{{ investment.symbol }}").css("color", "#FF5555"); }
                                else if (profit > 0) { $(".-{{ investment.symbol }}").css("color", "#55FF55"); }
                            </script>
                        {% endfor %}
                {% else %}
                    <p>No investments are available.</p>
                {% endif %}
            </div>



        <div id="bottom">
                bottom
        </div>


        </div>











    </body>
</html>