<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/style.css' %}">

        <h1>{{ investment.symbol }}</h1>
        <h3>{{ investment.name }}</h3>

{#        <form action="{% url 'investmentDetails' investment.id %}" method="post">#}
{#        {% csrf_token %}#}
{#        <fieldset>#}
{#            <legend><h1>{{ investment.name }}</h1></legend>#}
{#            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}#}
{#            {% for choice in question.choice_set.all %}#}
{#                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">#}
{#                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>#}
{#            {% endfor %}#}
{#        </fieldset>#}
{#        <input type="submit" value="Vote">#}
{#        </form>#}

    </body>
</html>