<!DOCTYPE html>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'buffetiser_main/bootstrap-5.0.2/css/bootstrap.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'buffetiser_main/img/icon.png' %}"/>
    <script src="{% static 'buffetiser_main/bootstrap-5.0.2/js/bootstrap.js' %}"></script>
    <script src="{% static 'buffetiser_main/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'buffetiser_main/scripts.js' %}"></script>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Purchase</title>
    </head>
    <body class="new_purchase">
        <div class="w3-card-4">
            <div class="w3-container">
              <h2>Add New Investment Purchase</h2>
            </div>
            <div>
                <form class="w3-container" action="add_purchase" method="post">
                {% csrf_token %}
                <fieldset>
                    <label>From Existing Investment</label>
                    <select class="w3-select" id="previous">
                        <option value="" disabled selected>Choose your option</option>
                        {% if investment_list %}
                            {% for investment in investment_list %}
                                <option value={{ investment.symbol }}>{{ investment.name }} ({{ investment.symbol }})</option>
                            {% endfor %}
                        {%  endif %}
                    </select>
                    <script>
                        // This automatically fills in information about a held investment to save time.
                        $('select').on('change', function() {
                            {% for investment in investment_list %}
                                if ($("#previous").val() == `{{ investment.symbol }}`) {
                                    $("#type").val(`{{ investment.investment_type }}`).change()
                                    $("#symbol").val(`{{ investment.symbol }}`)
                                    $("#name").val(`{{ investment.name }}`)
                                    $("#exchange").val(`{{ investment.exchange }}`).change();
                                    $("#platform").val(`{{ investment.platform }}`).change();
                                    $("#currency").val(`{{ investment.currency }}`).change();
                                }
                            {% endfor %}
                        });
                    </script>
                    <hr>
                    <label>Type</label>
                    <select class="w3-select" name="type" id="type">
                      <option value="" disabled selected>Choose your option</option>
                        {% for t in constants.InvestmentType.choices %}
                            <option id="type" name="type" value={{ t.0 }}>{{ t.1 }}</option>
                        {% endfor %}
                    </select>
                    <label>Symbol</label><input type="text" class="w3-input" id="symbol" name="symbol" required>
                    <label>Name</label><input type="text" class="w3-input" id="name" name="name" required>
                    <label>Exchange</label>
                    <select class="w3-select" name="exchange" id="exchange">
                      <option value="" disabled selected>Choose your option</option>
                        {% for t in constants.Exchanges.choices %}
                            <option id="exchange" name="exchange" value={{ t.0 }}>{{ t.1 }}</option>
                        {% endfor %}
                    </select>
                    <label>Platform</label>
                    <select class="w3-select" name="platform" id="platform">
                      <option value="" disabled selected>Choose your option</option>
                        {% for t in constants.Platforms.choices %}
                            <option id="platform" name="platform" value={{ t.0 }}>{{ t.1 }}</option>
                        {% endfor %}
                    </select>
                    <label>Currency</label>
                    <select class="w3-select" name="currency" id="currency">
                      <option value="" disabled selected>Choose your option</option>
                        {% for t in constants.Currencies.choices %}
                            <option id="currency" name="currency" value={{ t.0 }}>{{ t.1 }}</option>
                        {% endfor %}
                    </select>
                    <label>Units</label><input type="text" class="w3-input" id="units" name="units" required>
                    <label>Price</label><input type="text" class="w3-input" id="price" name="price" required>
                    <label>Fee</label><input type="text" class="w3-input" id="fee" name="fee" required>
                    <label>Date</label><input type="date" class="w3-input" id="date" name="date" required>

                    <button type="submit" class="submit-btn w3-btn w3-round">Add</button>
                </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
