
:root {--COLOUR0: #1B262C;}
:root {--COLOUR1: #0f4c75;}
:root {--COLOUR2: #3282b8;}
:root {--COLOUR3: #bbe1fa;}


html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
.left {
    display: block;
    background: var(--COLOUR0);
    min-width: 90px;
    max-width: 90px;
    height: 100%;
}

.left button {
    width: 80px;
    height: 70px;
    padding: 3px;
    margin: 2px 5px 2px 5px;
    background-color: var(--COLOUR2);
    color: white;
}

.left button:hover {
    background-color: var(--COLOUR1);
}

.left button:visited {
    color: var(--COLOUR2);
    background-color: var(--COLOUR2);
}

.left a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
#right {
    display: flex;
    flex-direction: column;
    background: var(--COLOUR0);
    width: 95%;
    height: 100%;
    padding-right: 5px;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
#top {
    background-color: var(--COLOUR0);
    height: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.pull-left {
    margin-left: -10px;
    margin-right: 10px;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
#inner-left {
    float: left;
    width: 86%;
    margin: 0px;
}

#inner-right {
    float: right;
    width: 14%;
    height: 100%;
    margin-top: 5%;
}

.panel-title {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

a.btn.btn-primary.panel-title {
    background-color: var(--COLOUR2);
    border-color: var(--COLOUR0);
}

#panel-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    background-color: black;
    color: white;
}

#graph {
    width: 100%;
}

#inner-right-table {
    width: 100%;
    height: 200%;
    margin-right: 5px;
    font-size: 80%;
    text-align: right;
}

table, table th, table td {
    border: 1px solid var(--COLOUR3);
    padding: 5px;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
#bottom {
    background: var(--COLOUR0);
    height: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
.new_purchase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--COLOUR0);
    color: white;
    width: 100%;
}

.w3-container {
    width: 800px;
}

.w3-input {
    background-color: var(--COLOUR1);
    color: white;
    margin-bottom: 10px;
}

.w3-input[type=text]:focus {
  background-color: var(--COLOUR2);
}

.submit-btn {
    width: 80px;
    height: 70px;
    padding: 3px;
    margin: 2px 5px 2px 5px;
    background-color: var(--COLOUR2);
    color: white;
}

.submit-btn:hover {
    background-color: var(--COLOUR1);
}

.submit-btn:visited {
    color: var(--COLOUR2);
    background-color: var(--COLOUR2);
}