
:root {--COLOUR0: #1B262C;}
:root {--COLOUR1: #0f4c75;}
:root {--COLOUR2: #3282b8;}
:root {--COLOUR3: #bbe1fa;}
:root {--COLOUR4: #aaaaaa;}
:root {--RED: #FF7777;}
:root {--GREEN: #55FF55;}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
}


/*  ----------------------------------------------------
    LEFT PANEL
    ----------------------------------------------------  */
#left {
    display: block;
    background: var(--COLOUR0);
    min-width: 100px;
    max-width: 100px;
    height: 100%;
    padding-left: 2px;
}

#left img {
    padding: 10px 5px 20px;
}

#left .w3-btn {
    margin: 2px;
    width: 90px;
    background-color: var(--COLOUR2);
    color: white;
}

#left .w3-btn:hover {
    background-color: var(--COLOUR1);
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
#right {
    display: flex;
    flex-direction: column;
    background: var(--COLOUR0);
    width: 100%;
    height: 100%;
    padding-right: 5px;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
#top {
    background-color: var(--COLOUR0);
    height: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
#top-inner-left {
    float: left;
    width: 86%;
}

#top-inner-right {
    float: right;
    width: 14%;
    height: 100%;
    background-color: var(--COLOUR0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}

.panel-title {
    width: 99%;
}

a.btn.btn-primary.panel-title {
    background-color: var(--COLOUR2);
    border-color: var(--COLOUR0);
}

#panel-container {
    width: 98.8%;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#graph {
    width: 100%;
}

#summary-table, table th, table td {
    width: 100%;
    margin-right: 5px;
    font-size: 80%;
    text-align: right;
    border: 1px solid var(--COLOUR3);
    padding: 5px;
}


/*  ----------------------------------------------------
    INDEX   BOTTOM SUMMARY PANEL
    ----------------------------------------------------  */
#bottom {
    background: var(--COLOUR0);
    height: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

#bottom-inner-left {
    float: left;
    width: 86%;
    height: 100%;
    background-color: var(--COLOUR0);
}

#bottom-inner-right {
    float: right;
    width: 14%;
    height: 100%;
    background-color: var(--COLOUR0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}

#summary-table {
    color: white;
    width: 100%;
    margin-right: 50px;
    font-size: 80%;
    text-align: right;
}


/*  ----------------------------------------------------
    NEW PURCHASE PAGE
    ----------------------------------------------------  */
.new_purchase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--COLOUR0);
    color: white;
    width: 100%;
}

.w3-container {
    width: 800px;
}

.w3-input {
    background-color: var(--COLOUR1);
    color: var(--COLOUR4);
    margin-bottom: 10px;
}

.w3-input[type=text]:focus {
  background-color: var(--COLOUR2);
}

select.w3-select {
    background-color: var(--COLOUR1);
    color: var(--COLOUR4);
    margin-bottom: 10px;
}

button.submit-btn {
    margin: 2px;
    width: 90px;
    background-color: var(--COLOUR2);
    color: white;
}

.submit-btn:hover {
    background-color: var(--COLOUR1);
}


/*  ----------------------------------------------------

    ----------------------------------------------------  */
.investmentDetails {
    display: flex;
    flex-direction: column;
}